logging.level:
  org.springframework.jdbc: debug
  org.springframework.web: debug
  com.broadcom.springconsulting: debug

spring:
  application:
    name: db-exerciser
  datasource:
    # driverClassName: org.postgresql.Driver
    # password: ${PASSWORD}
    # url: ${SVC}
    # username: ${USERNAME}
    hikari:
      schema: public
      
management:

  endpoints:
    web.exposure.include: '*'

  endpoint:
    health:
      show-details: ALWAYS
      group:
        liveness:
          show-details: always
        readiness:
          show-details: always

  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true

  tracing:
    enabled: false
    sampling:
      probability: 1.0
